<!--Project Harshbir Singh Student ID: 301276594-->

<%- include('partials/header.ejs')%>
<%- include('partials/main_nav.ejs')%>

<!--Main Content-->
<main class="container mt-5">
  <div class="container">
    <div class="row g-0 text-center">
      <div class="col-sm-6 col-md-8">
        <h1 class="display-5">Hi, My Name is <strong>Harshbir Singh</strong></h1>
        <p class="lead">
          I am currently studying Software Engineering Technology in Centennial College
          . I Live in Edmonton, Alberta.
        </p>
        <br>
        <a class="btn btn-primary" href="files/harshresumenew.docx" role="button">My Resume</a>
      </div>
      <div class="col-6 col-md-4"><img src="img/myphoto.jpg"  class="rounded mx-auto d-block" style="width: 400px; height: 500px;" alt="Myimage"></div>
    </div>
  </div>
</main>

<%- include('partials/bottom_nav.ejs')%>
<%- include('partials/footer.ejs')%>
   