<!--Project Harshbir Singh Student ID: 301276594-->

<%- include('partials/header.ejs')%>
<%- include('partials/main_nav.ejs')%>

<!--Main Content-->
<main class="container">
  <div class="container mt-5">
    <h3 class="mb-3 text-center mx-3">Previous Projects</h3><br>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="img/bugsmasher.png" class="card-img-top" alt="bugpic" style="width: 100%; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">Bug Smasher Game</h5>
            <p class="card-text">Created Bug Smasher Game using <strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript</strong></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="img/musicplaylist.png" class="card-img-top" alt="..." style="width: 100%; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">Playlist Manager</h5>
            <p class="card-text">Created Playlist Manager App using <strong>C#</strong> and <strong>WPF</strong></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="img/tablegen.png" class="card-img-top" alt="mTable" style="width: 100%; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">Table Generator</h5>
            <p class="card-text">Created Table Generator using <strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript</strong></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

  <%- include('partials/bottom_nav.ejs')%>
  <%- include('partials/footer.ejs')%>

   