<!--Project Harshbir Singh Student ID: 301276594-->

<%- include('partials/header.ejs')%>
<%- include('partials/main_nav.ejs')%>


<!--Main Content-->
    <div class="container text-center mt-5">
      <h2>I provide following Services</h2>
      <div class="row g-2">
        <div class="col-6">

          <div class="p-3">

            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="img/angular.png" style="height: 200px;" class="img-fluid rounded-start" alt="web">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Angular and React</h5>
                    <p class="card-text">Skilled in Angular and React framework. Provide cutting edge solutions for websites</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="p-3">

            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="img/console.png" style="height: 200px;" class="img-fluid rounded-start" alt="web">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Console Apps</h5>
                    <p class="card-text">I am proficient in creating console applications and can provide numerous console app solutions.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-6">
          <div class="p-3">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="img/data.png" style="height: 200px;" class="img-fluid rounded-start" alt="web">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Data management</h5>
                    <p class="card-text">I also provide data management solutions based on Oracle Database</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="img/java.png" style="height: 200px;" class="img-fluid rounded-start" alt="web">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">I am skilled in Java programming and can make many apps using java</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>




            <%- include('partials/bottom_nav.ejs')%>
            <%- include('partials/footer.ejs')%>